.coming-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  position: relative;
  margin: auto;
  width: 450px;
  height: 70px;
  background-color: rgb(66, 85, 255);
  color: white;
  font-size: 2em;
  margin-top: 50px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 50px;
}

.coming-soon-none {
  display: none;
}

.coming-soon:hover {
  background-color: #423ed8;
}

.coming-soon > p {
  margin: 0;
}

.edit-container {
  background-color: white;
  border-radius: 5px;
  border: rgba(165, 42, 42, 0.342) 1px solid;
  position: relative;
  margin: 20px;
}

.edit-form {
  font-size: 2em;
  width: 100%;
}

.form-text {
  margin-left: 3em;
  padding-right: 2em;
  flex-basis: auto;
  border-right: solid 1px black;
  margin-right: 5.1em;
  width: 10em;
  border: none;
}

.input-text{
  border: none;
  background-color: transparent;
  border-bottom: solid 1px;
  padding-right: 10px;
}

.input-definition{
  word-wrap: break-word;
  border: none;
  background-color: transparent;
  border-bottom: solid 1px;
}


.input-text:focus {
  outline: none;
  border-bottom: solid 3px ;
}

.input-definition:focus {
  outline: none;
  border-bottom: solid 3px ;
}

.form-definition {
  padding-left: 2em;
  vertical-align: top;
  margin-left: 2em;
}

.case-container {
  position: relative;
  height: fit-content;
  width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1em;
}

.edit-case,
.edit-form {
  padding: 0.1rem;
}

.edit-case {
  /* flex-direction: row; */
  font-size: 2em;
  width: 100%;
}

.edit-text {
  white-space: pre-line;;
  position: relative;
  overflow-wrap: break-word;
  margin-left: 3em;
  padding-right: 1em;
  flex-basis: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  width: 11em;
}

.deck-content>* {
  height: 500px ;
}

.edit-definition {
  padding-left: 2em;
  border-left: solid 1px black;
  margin-left: 3em;
}

.delete-button {
  background-color: black;
  margin-top: 1px;
  margin-right: 2px;
  top: 0;
  right: 0;
}

.edit-button {
  display: block;
  margin-top: 1px;
  margin-right: 2px;
  top: 0;
  right: 0;
}

.edit-button :hover {
  color: rgb(247, 52, 94);
}
