.flashcard {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 2px rgba(165, 42, 42, 0.342);
  width: 100%;
  height: 400px;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
  transform-style: preserve-3d;
  transition: 200ms;
  cursor: pointer;
  margin: 0;
  border: rgba(165, 42, 42, 0.342) 1px solid;
  z-index: 50;
  font-size: 45px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 70px;
}

.flashcard-grid {
  background-color: (252, 242, 208, 0.7);
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 3rem;
}

.flashcard:hover {
  box-shadow: 0, 0, 7px, 2px, rgba(165, 42, 42, 0.8);
}

.flashcard.flip {
  --rotate-y: 180deg;
}

.flashcard .front,
.flashcard .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.flashcard .back {
  transform: rotateY(180deg);
}

.flashcard .front {
  transform-style: preserve-3d;
}

.last {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* position: relative; */
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 2px rgba(165, 42, 42, 0.342);
  width: 100%;
  height: 400px;
  margin: 0;
  border: rgba(165, 42, 42, 0.342) 1px solid;
  z-index: 50;
  font-size: 45px;
  padding-right: 50px;
  padding-left: 50px;
  font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 400;
  font-style: normal;
}
