hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

body,
html {
  height: 100%;
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

/* Track */
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  background-color: transparent;
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
  border-right: none;
  border-left: none;
  background: #aca05f; 
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c; 
}

.title {
  font-family: 'Roboto';
  margin-bottom: 20px;
}

.content {
  padding: 120px 100px;
  padding-bottom: 200px;
  padding-right: 5%;
  display: flex;
  font-family: 'Karla', sans-serif;
  height: 100%;
  align-content: space-between;
}

.content > * {
  margin-left: 70px;
}

.homepage-title {
  margin-bottom: 30px;
  font-weight: bolder;
  font-style: italic;
  font-family: serif;
}

.overflow-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 250px;
  height: 1.2em;
  white-space: nowrap;
}

.overflow-deckname {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 350px;
  height: 1.2em;
  white-space: nowrap;
}

.overflow-definition {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
  height: 100px;
  white-space: nowrap;
}

.navbar-offcanvas {
  background-color: brown;
}

.navbar--right-side {
  position: relative;
}

.navbar--right-side > * {
  margin-left: 30px;
  height: 40px;
}

.nav-suggest-item-u {
  cursor: pointer;
  background-color: antiquewhite;
}

.nav-suggest-item-d {
  cursor: pointer;
  background-color: aliceblue;
}

.nav-suggest-item-u:hover {
  background-color: rgb(211, 198, 181);
  transition: 0.3s;
}

.nav-suggest-item-d:hover {
  background-color: rgb(206, 214, 221);
  transition: 0.3s;
}

.searchResult {
  position: absolute;
  background-color: white;
  border: black 2px;
}

.suggest-box {
  margin-top: 3px;
  width: 100%;
  position: absolute;
  max-height: 500px;
  background-color: white;
  border-radius: 0px 0px 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  z-index: 100;
}

.suggest-box .suggest-item {
  background-color: lemonchiffon;
  width: 100%;
  display: flex;
  height: 100px;
  flex-direction: column;
  align-items: center;
  color: black;
  font-family: sans-serif;
}

.suggest-item:before {
  content: '';
  position: absolute;
  left: 30%;
  bottom: 0;
  height: 1px;
  width: 40%; /* or 100px */
  border-bottom: rgba(128, 128, 128, 0.151) 1px solid;
  /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.226); */
}

.suggest-item > * {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.suggest-item-text {
  font-family: cursive;
  font-weight: 900;
  font-size: 25px;
  color: brown;
}

.suggest-item-definition {
  text-transform: lowercase;
  color: dimgray;
}

.nav-suggest-box {
  margin-top: 3px;
  width: 100%;
  position: absolute;
  max-height: 400px;
  background-color: white;
  border-radius: 0px 0px 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  transition: 0.3s;
}

.nav-suggest-box .suggest-item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.disappear-div {
  display: none;
}

.button-content {
  flex-direction: row;
  display: flex;
  height: 70px;
  padding: 10px 25px 10px 30px;
  justify-content: space-between;
  position: relative;
}

.button-content:before {
  content: '';
  position: absolute;
  left: 30%;
  bottom: 0;
  height: 1px;
  width: 40%; /* or 100px */
  border-bottom: rgba(128, 128, 128, 0.151) 1px solid;
  /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.226); */
}

.button-content-text {
  font-family: 'Titillium Web', sans-serif;
}

.button-content-text-deck {
  font-family: 'Titillium Web', sans-serif;
}

.button-content-text h2 {
  font-size: 19px;
  font-weight: 600;
  background: linear-gradient(to right, #31cfd0 00%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-content-text-deck h2 {
  font-size: 19px;
  font-weight: 600;
  color: purple;
}

.button-content-img {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  border: 2px solid #8e009b;
  position: relative;
}

.dataItem p {
  margin-left: 10px;
}
.searchInput {
  width: 100%;
}

.search-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7) !important;
}

.mynavbar {
  max-width: 100%;
  padding-bottom: 8px;
  padding-top: 0ch;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.226);
  background-color: rgb(255, 193, 6);
}

.mynavlink {
  transition-duration: 0.4s;
  border-radius: 5px;
  font-family: unset;
  transition: 0.4s !important;
}

.mynavlink:hover {
  background-color: #fbeee4;
  /* background-color: rgba(240, 255, 240, 0.733); */
  color: gray !important; /* not recommended */
  border-radius: 30px 30px 30px 30px;
}

.navbar-search {
  display: flex;
  position: relative;
  z-index: 100;
  flex-direction: column;
}

.navbar-search > * {
  border-radius: 30px !important;
}

.navbar-search-result {
  display: flex;
  z-index: 100;
  flex-direction: column;
  position: absolute;
}

.deck-sidebar {
  border: rgba(165, 42, 42, 0.342) 2px solid;
  border-radius: 10px;
  padding: 25px;
  height: fit-content;
  background-color: bisque;
  margin: 100px;
}

.deck-sidebar--header {
  margin-bottom: 30px;
}

.deck-sidebar--header > * {
  font-size: 30px;
  font-weight: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck-sidebar--header > * {
  margin-bottom: 0px;
}

.deck-sidebar--elements {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.deck-sidebar--elements:hover {
  background-color: rgba(255, 255, 0, 0.274);
  opacity: 1;
}

.current-deck {
  background-color: rgba(255, 208, 0, 0.452);
  border-radius: 10px;
}

.text-selected {
  color: rgba(0, 0, 0, 0.637);
  font-weight: 700;
}

.deck-side{
  display: flex;
  max-height: 90%;
  flex-direction: column;
}

.deck-list{
  max-height: 500px;
  overflow-x: auto;
  margin-bottom: 40px;
}

.custom-scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
  background-color: transparent;
}
 
/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-right: none;
    border-left: none;
  background: #8481188f; 
  border-radius: 10px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c; 
}

.deck-content {
  margin-left: 5%!important;
  padding-right: 0px;
  height: auto;
}

.deck-content--header {
  margin-bottom: 50px;
  font-weight: 900;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.deck-content--elements {
  margin-top: 10px;
}

.test--button {
  height: fit-content;
  align-self: center;
  top: auto;
}

.quiz-title {
  padding: 20px;
  align-self: center;
  font-size: 70px;
  display: flex;
  justify-content: center;
  border: 1px solid;
  border-radius: 10px;
  background-color: bisque;
  margin-bottom: 80px;
  color: cornflowerblue;
}

.quizzes {
  transition: 0.7s;
  background-color: azure;
  display: flex;
  margin: 10px 70px;
  padding: 20px 50px;
  padding-right: 0px;
  border: rgba(128, 128, 128, 0.479) solid 2px;
  border-radius: 10px;
}

.quizzes:hover {
  background-color: rgb(218, 231, 231);
}

.quiz--question {
  font-size: 50px;
  flex: 0 0 30%;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  margin-left: 5%;
  color: rgb(211, 86, 86);
}

.quiz--selections {
  flex: 0 0 50%;
}

.quiz--selection {
  display: flex;
  justify-content: center;
  align-self: center;
  cursor: pointer;
  transition: 0.3s;
  border: rgba(0, 0, 0, 0.363) 2px solid;
  border-radius: 10px;
  background-color: rgb(220, 242, 255);
}

.quiz--selection:hover {
  background-color: rgba(128, 128, 128, 0.336);
}

.quiz-selected {
  background-color: gray;
}

.card--body {
  padding: 15px;
  justify-content: center;
  align-self: center;
  display: flex;
}

.button--submit {
  margin-top: 50px;
  align-self: center;
  min-width: 200px;
}

.button--submit:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7) !important;
}
.test {
  color: rgba(255, 255, 255, 0.548);
}

.score--alert {
  border-radius: 30px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  /* align-self: center; */
  margin-left: 25%;
  align-items: center;
}
.save-score--button {
  width: fit-content;
}
/* Submit button's transition */
.alert-enter {
  opacity: 0;
  height: 0px;
  transform: scale(0.9);
}
.alert-enter-active {
  height: fit-content;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.quiz--score {
  font-size: 30px;
}

/* Navbar */

/* For transition (login, signup)*/
.menu-enter {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 1s ease;
}

.menu-enter-active {
  height: auto;
  max-height: 500px;
}

.menu-exit {
  max-height: 500px;
  -webkit-transition: max-height 1s ease;
}

.menu-exit-active {
  overflow: hidden;
  max-height: 0px;
}
/*  Intro page */
.introduction {
  cursor: pointer;
}
.homepage-intro {
  padding: 4%;
  border-left: #cccccc 2px solid;
}
.homepage-intro--select {
  padding: 4%;
  border-left: black 2px solid;
}
.information {
  position: fixed;
  bottom: 0px;
  color: white;
  background-color: #2c2e3a;
  width: 100%;
  height: fit-content;
  margin: 0px !important;
  padding: 20px;
}

/* For game */
.gameCenter {
  padding-top: 5%;
  padding-left: 10%;
}
.gameBoard {
  border: 2px #2c2e3a solid;
  border-radius: 4px;
  padding: 5px;
  background-image: url('https://i.ibb.co/Hxdd0dY/3995245.jpg');
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.gameInfo {
  background-image: url('https://cdn.dribbble.com/users/1665077/screenshots/7063443/media/844dcd47b32dde6a7d781460e0e94e72.gif');
  background-size: 100%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: fit-content;
  border-radius: 5px;
}
.scoreboard {
  width: 100%;
  height: 70px;
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  font-size: 30px;
  font-family: 'Karla', sans-serif;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  border: double 2px transparent;
  border-radius: 4px;
  background-image: linear-gradient(#ffc106, #fbeec1), linear-gradient(to right, #2b5876, #4e4376);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.scoreboard-text {
  align-items: center;
  background-color: gray(30) !important;
}

.btn-grad {
  background-image: linear-gradient(to right, #ff512f 0%, #f09819 51%, #ff512f 100%);
}
.btn-grad {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 5px gray;
  border-radius: 5px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.gameNotification {
  /* background-image: url('https://64.media.tumblr.com/c75cc37ad69374df606688efc48cf1b7/tumblr_nestrw4qVe1r3rdh2o1_500.gifv') 100%; */
  /* marginright: '30%'; */
  background-image: linear-gradient(#eeee10, white);
  border-radius: 5px;
}

/* For transition (Deck) */
/* .words-display-enter {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 2s ease;
}

.words-display-enter-active {
  height: auto;
  max-height: 500px;
}

.words-display-exit {
  max-height: 500px;
  -webkit-transition: max-height 2s ease;

}

.words-display-exit-active {
  overflow: hidden;
  max-height: 0px;

} */

.confetti {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.deck-content-container {
  height: fit-content;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.deck-content-element {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5em;
}

.user-card {
  width: 300px;
  height: 430px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px black;
  position: relative;
  margin-left: 30%;
  /* display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center; */
}

.upper-container {
  height: 100px;
  background: linear-gradient(to left, #2d00f7, #ff0291);
  border-radius: 7px;
}

.image-container {
  position: relative;
}

.image-container img {
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(95px, 45px);
  border: 2px solid #8e009b;
}

.change-avatar {
  position: absolute;
  top: 120px;
  left: 100px;
  z-index: 100;
  font-size: small;
  cursor: pointer !important;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}

.change-avatar:hover {
  background-color: gray;
  cursor: pointer !important;
}

.submit-avatar {
  position: absolute;
  top: 120px;
  left: 160px;
  z-index: 100;
  font-size: small;
  cursor: pointer !important;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  /* width: 20px;
  height: 20px; */
}

.submit-avatar:hover {
  background-color: rgb(54, 255, 47);
  cursor: pointer !important;
}

.lower-container {
  position: relative;
  height: 250px;
  margin-top: 60px;
  background: white;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

.lower-container * {
  margin: 0;
  padding: 0;
}

.lower-container h2 {
  background: linear-gradient(to right, #31cfd0 00%, #713cb1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 1.9rem;
}

.lower-container h4 {
  color: #8e00b9;
  font-weight: 700;
  font-size: 1.2rem;
}

.lower-container p {
  margin: 1rem;
  font-family: sans-serif;
  color: #2f2d2e;
  font-weight: 300;
  font-size: 0.9rem;
  text-align: justify;
}

.deck-container {
  align-content: center;
  margin-left: 30%;
  display: flex;

  flex-direction: column;
  column-gap: 100px;
}
.deck-container > * {
  margin-bottom: 50px;
}

.deck-action--button {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-right: 20px;
  height: auto !important;
}

.deck-action--button > * {
  margin-right: 20px;
  margin-bottom: 20px;
}

.deck-title {
  align-self: center;
  padding: 20px 30px;
  font-size: 40px;
  font-weight: 600;
  border: 2px solid #8e009b;
  width: fit-content;
  border-radius: 10px;
  background-color: rgb(247, 0, 255, 0.4);
}

.deck-elements {
  align-self: center;
  font-size: 30px;
  font-weight: 300;
}
.leaderboard {
  background: linear-gradient(to top, #55bfa0, #d8bc47);
  border-radius: 10px;
  /* border: 4px solid; */
  box-shadow: 10px 10px 2px 1px gray;
  margin-bottom: 200px;
}
.leaderboard-top {
  background-color: #fa6855;
  color: white;
}

.navbarUser {
  position: absolute;
  bottom: 0;
  width: 90%;
  left: 5%;
  padding: 5px;
  justify-content: flex-start;
  border-top: 2px solid rgba(128, 128, 128, 0.4);
  display: flex;
}

.navbarUser-logout {
  position: absolute;
  right: 0;
}
.navbarUser-username {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.navbar-button {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-family: unset;
  margin: 10px;
  font-size: 20px;
}
.navbar-button:before {
  content: '';
  position: absolute;
  left: 30%;
  bottom: 0;
  height: 1px;
  width: 40%; /* or 100px */
  border-bottom: rgba(128, 128, 128, 0.151) 1px solid;
  /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.226); */
}
.dark-mode {
  color: white;
  background-color: black;
}
