* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-title {
  font-family: 'Roboto';
  size: 50rem;
  margin-top: -5px;
  margin-bottom: 25px;
}

.definition-text {
  padding-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
}

.button-wrapper {
  background-color: rgba(252, 242, 208, 0.7);
  border: rgba(165, 42, 42, 0.342) 1px solid;
  border-radius: 15px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 15px;
  width: fit-content;
  padding: 0.75em;
}

.flower-icon {
  margin-left: 12px;
  margin-right: 5px;
}

.flower-button {
  padding-left: 5em;
}

.jlpt {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
  padding: 4px;
  padding-right: 5em;
  border-right: 1px solid gray;
}

.def-wrapper {
  border: rgba(165, 42, 42, 0.342) 1px solid;
  border-radius: 15px;
  margin: 10px;
  background-color: rgba(252, 242, 208, 0.7);
  /* display: flex;
    justify-content: space-between;
    flex-direction: column; */
}

.worddetail {
  border: rgba(165, 42, 42, 0.342) 1px solid;
  border-radius: 15px;
  width: 100%;
  display: inline-block;
  margin: 10px;
  margin-bottom: 5px;
  margin-top: 15px;
  background-color: rgba(252, 242, 208, 0.7);
  width: fit-content;
  padding: 10px 20px;
}

.worddetail-kanji {
  font-size: 2rem;
  padding: 5px;
  margin: 0;
  display: inline;
}

.worddetail-kana {
  font-size: 2rem;
  display: inline;
}

.worddetail-def {
  size: 2rem;
  font-family: 'Open Sans', sans-serif;
  padding: 2px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup>.react-reveal{
   display: flex;
  justify-content: center; 
  min-width: 40%;
}

.popup-inner {
  align-self: center;
  display: flex !important;
  justify-content: space-between;
  align-items: center!important;
  /* max-height: 600px; */
  /* overflow-x: auto; */
  /* max-width: fit-content; */
  width: 80%;
  /* overflow-x: hidden; */
  padding: 0px;
  background-color: rgba(251, 238, 193);
  border: rgba(165, 42, 42, 0.342) 2px solid;
  border-radius: 30px;
  flex-direction: column;
}

.popup--title {
  position: relative;
  justify-content: center;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  display: flex;
  align-items: center;
  margin-right: -20px;
  margin-top: -5px;
}

.popup--deck {
  overflow-x: auto;
  max-height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  padding: 20px;
}



/* Style for decks'cards in popup */
.popup--deck> *{
  text-transform: none !important;
  
}
.popup--deck> *:hover{
    background-color: #b8ac8d !important;
    transition: 0.2s;
}

#deck-create{
  width: 100%;
  padding: 0 20%;
  margin-bottom: 5%;
}

.suggested--bar {
  border: rgba(165, 42, 42, 0.342) 2px solid;
  border-radius: 30px;
  display: flex;
  margin-right: 50px;
  flex-direction: column;
  padding: 15px;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(255, 220, 176, 0.651);
}

.related-searches-item {
  display: flex;
  position: relative;
}

.related-searches-item:before {
  content: '';
  position: absolute;
  left: 30%;
  bottom: 0;
  height: 1px;
  width: 40%; /* or 100px */
  border-bottom: rgba(128, 128, 128, 0.151) 1px solid;
  /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.226); */
}

.suggested-bar--items {
  text-transform: lowercase;
  font-family: 'Karla';
  display: block;
  padding: 0px;
}

.suggested-bar--items-text {
font-family: 'noto-sans-cjk-jp';
  font-size: 20px;
  font-weight: 600;
}

.related-search {
  align-self: center;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}
