<form method="get">

    <input type="text" id="q" name="q" placeholder="your search...">

</form>

{% for item in ans %}
    {{item.text}}
    {{item.gloss}}
    {{item.score}}

    <br>
{% endfor %}